<div class="container">
  <h2> Register </h2>
  <%= erb :_user_form, locals: {submit_button_value: "Save", 
    user: current_user 
  } %>

</div>



  <form action="/users">
    <%= hidden_tags_if_needed(true) %>
    Name: <input type="text" name="name" value="<%= @user.name %>"><br>
    Email: <input type="text" name="email" value="<%= @user.email %>"><br>
    Password: <input type="password" name="password" value="<%= @user.password %>"><br>
    <input type="submit" value="Register">
  </form>
